<div id="<%= dom_id friend %>">
  <h1>
    <%= friend.first_name %>
    <%= friend.last_name %>
  </h1>
  <p class="lead">
    <%= friend.email %> |
    <%= friend.phone %> |
    <%= friend.twitter %>
  </p>
</div>
